<div id="dashboardScreen">
  <div class="navbar">
    <%= link_to "List" do%>
      <div class="iconDiv">
        <i class="material-icons navbarIcon">list</i>
        <p>Data Stream List</p>
      </div>
    <% end %>
  </div>
  <div class="dashboard">
  </div>
</div>