<div id="dashboardScreen">
  <div id="signUpDiv">
    <div class="navbar">
      <%= link_to users_path do%>
        <i class="material-icons backButton">list</i>
      <% end %>
    </div>
    <div class="dashboard">
    </div>
  </div>
</div>