<div>
  <h1>Kinesis stream list</h1>
  <h3>Your's streams:</h3>
  <div class="listStreams">
	<%= button_to "load streams", action: "temp_list_streams"%>
	//<% @streams.each do |stream| %>
	//  <%= stream %>
	//<% end %>
	<%= @streams %>
  </div>
</div>
